<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title challenge-html-06
        link(rel="stylesheet", href="index.css")
    body
        //start iphone section
        div(class="mobil")
            //start iphone top side
            div(class="mobil-top-side")
                span(class="camera")
                span(class="sensor")
                span(class="speaker")
            //finish iphone top side  
            //medium container of mobil   
            div(class="top-bar")
            div(class="screen")
            //buttons  
            div(class="buttons")
                span(class="on")
                span(class="sleep")
                span(class="up")
                span(class="down")
            div(class="bar")
            div(class="home")
                span
