span(class="power")
span(class="volume-up")
span(class="silence")
span(class="volume-down")
div(class="container__left-iphone")
  div(class="left-iphone__content")
    div(class="left-iphone__content--camera")
      div(class="camera__lents")
        span(class="camera__lents--top")
          div(class="container__lent")
            span(class="blur__lent")
        span(class="camera__lents--bottom")
          div(class="container__lent")
            span(class="blur__lent")
      div(class="camera__flash")
        span(class="camera__flash--sensor")
        span(class="camera__flash--flash")
    div(class="left-iphone__content--logo")
    img(src="src/resources/imgs/manzana.svg", alt="Logo")