&__left-iphone
  border: 4px solid #f1f1f3
  display: inline-block
  position absolute
  border-radius: 30px
  top: 5%
  left 10%
  width: 32%
  height 90%
  background: -moz-linear-gradient(21deg, rgba(207,201,216,1) 0%, rgba(207,201,216,1) 48%, rgba(213,208,220,1) 50%, rgba(222,219,226,1) 53%) /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(207,201,216,1)), color-stop(48%, rgba(207,201,216,1)), color-stop(50%, rgba(213,208,220,1)), color-stop(53%, rgba(222,219,226,1))) /* safari4+,chrome */
  background: -webkit-linear-gradient(21deg, rgba(207,201,216,1) 0%, rgba(207,201,216,1) 48%, rgba(213,208,220,1) 50%, rgba(222,219,226,1) 53%) /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(21deg, rgba(207,201,216,1) 0%, rgba(207,201,216,1) 48%, rgba(213,208,220,1) 50%, rgba(222,219,226,1) 53%) /* opera 11.10+ */
  background: -ms-linear-gradient(21deg, rgba(207,201,216,1) 0%, rgba(207,201,216,1) 48%, rgba(213,208,220,1) 50%, rgba(222,219,226,1) 53%) /* ie10+ */
  background: linear-gradient(69deg, rgba(207,201,216,1) 0%, rgba(207,201,216,1) 48%, rgba(213,208,220,1) 50%, rgba(222,219,226,1) 53%)
  // background-color: #dedbe2
  box-shadow: 1px 1px 7px 1px #87849d
.left-iphone__content
  img
    position relative 
    top: 17em
    left 27%
    width: 150px
    height 150px
  &--camera
    box-shadow: 0.5px 1px 4px 1px #fbfbfc
    border: 4px solid #ccc6da
    position absolute
    left 10%
    top: 3%
    border-radius: 20px
    background-color: #dddae3
    width: 120px
    height 120px
  .camera__lents
    display: inline-block
    width: 50%
    height 100%
    &--top
      box-shadow: .5px 1px 5px 1px black
      border: 4px solid #cbc3d7
      display: inline-block
      position relative
      top 7%
      left 10%
      width: 40px
      height 40px
      background-color:  #11141a
      filter: blur(.2px)
      border-radius: 50%
    &--bottom
      box-shadow: .5px 1px 5px 1px black
      border: 4px solid #cbc3d7
      display: inline-block
      position relative
      background-color:  #11141a
      filter: blur(.2px)
      width: 40px
      height 40px
      top: 15%
      border-radius: 50%
      left 10%
  .camera__flash
    display: inline-block
    position absolute
    width: 50%
    left 60%
    bottom: 10%
    height 100%
    &--sensor
      position absolute
      top: 28%
      filter: blur(.9px)
      border-radius: 50%
      left 9%
      width: 15px
      height 15px
      border: 1.3px solid #919191
      background-color: #a3a3a3
    &--flash
      position absolute
      top: 53%
      box-shadow: 0.5px 0.3px 1.3px 1.2px #bdbdbd
      border: 1px solid #f9eddf
      filter: blur(.4px)
      background: -moz-linear-gradient(45deg, rgba(250,239,218,1) 0%, rgba(255,255,255,1) 51%, rgba(249,237,223,1) 100%) /* ff3.6+ */
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(250,239,218,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(249,237,223,1))) /* safari4+,chrome */
      background: -webkit-linear-gradient(45deg, rgba(250,239,218,1) 0%, rgba(255,255,255,1) 51%, rgba(249,237,223,1) 100%) /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(45deg, rgba(250,239,218,1) 0%, rgba(255,255,255,1) 51%, rgba(249,237,223,1) 100%) /* opera 11.10+ */
      background: -ms-linear-gradient(45deg, rgba(250,239,218,1) 0%, rgba(255,255,255,1) 51%, rgba(249,237,223,1) 100%) /* ie10+ */
      background: linear-gradient(45deg, rgba(250,239,218,1) 0%, rgba(255,255,255,1) 51%, rgba(249,237,223,1) 100%)
      // background: linear-gradient(297deg, rgba(241,241,243,1) 0%, rgba(255,255,255,1) 99%, rgba(128,128,128,1) 100%);
      // background: linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%);
      // background: linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%);
      // background-color: #f6e8da
      border-radius: 50%
      width: 25px
      height 25px

.container__lent
  position relative
  width: 35px
  height 35px
  right .15px
  bottom: .5px
  // filter: blur(.px)
  border: 3px solid #0d0d0d
  border-radius: 50%
  .blur__lent
    border: 1px solid #8098e8
    position relative
    left 40%
    top: 7px
    filter: blur(.5px)
    display: inline-block
    background-color: #0153ab
    width: 5px
    height 5px
    border-radius: 50%

.power
  position: absolute
  top 28%
  border-radius: 20px
  left 9.6%
  display: inline-block
  width: 7px
  height 55px
  background-color: #87849d

.silence
  position: absolute
  left 42.4%
  top 15%
  border-radius: 20px
  display: inline-block
  width: 7px
  height 30px
  background-color: #87849d

.volume-up
  position: absolute
  left 42.4%
  top 23%
  border-radius: 20px
  display: inline-block
  width: 7px
  height 50px
  background-color: #87849d

.volume-down
  position: absolute
  left 42.4%
  top 33%
  border-radius: 20px
  display: inline-block
  width: 7px
  height 50px
  background-color: #87849d