.container
  position relative
  top: 2vh
  left 2vw
  width: 1000px
  height 700px
  & button 
    display inline-block
    background-color: red
    width: 20px
    height 20px
  @import "left"