.container {
  position: relative;
  top: 2vh;
  left: 2vw;
  width: 1000px;
  height: 700px;
}
.container button {
  display: inline-block;
  background-color: #f00;
  width: 20px;
  height: 20px;
}
.container__left-iphone {
  border: 4px solid #f1f1f3;
  display: inline-block;
  position: absolute;
  border-radius: 30px;
  top: 5%;
  left: 10%;
  width: 32%;
  height: 90%;
  background: linear-gradient(69deg, #cfc9d8 0%, #cfc9d8 48%, #d5d0dc 50%, #dedbe2 53%);
  box-shadow: 1px 1px 7px 1px #87849d;
}
.container .left-iphone__content img {
  position: relative;
  top: 17em;
  left: 27%;
  width: 150px;
  height: 150px;
}
.container .left-iphone__content--camera {
  box-shadow: 0.5px 1px 4px 1px #fbfbfc;
  border: 4px solid #ccc6da;
  position: absolute;
  left: 10%;
  top: 3%;
  border-radius: 20px;
  background-color: #dddae3;
  width: 120px;
  height: 120px;
}
.container .left-iphone__content .camera__lents {
  display: inline-block;
  width: 50%;
  height: 100%;
}
.container .left-iphone__content .camera__lents--top {
  box-shadow: 0.5px 1px 5px 1px #000;
  border: 4px solid #cbc3d7;
  display: inline-block;
  position: relative;
  top: 7%;
  left: 10%;
  width: 40px;
  height: 40px;
  background-color: #11141a;
  filter: blur(0.2px);
  border-radius: 50%;
}
.container .left-iphone__content .camera__lents--bottom {
  box-shadow: 0.5px 1px 5px 1px #000;
  border: 4px solid #cbc3d7;
  display: inline-block;
  position: relative;
  background-color: #11141a;
  filter: blur(0.2px);
  width: 40px;
  height: 40px;
  top: 15%;
  border-radius: 50%;
  left: 10%;
}
.container .left-iphone__content .camera__flash {
  display: inline-block;
  position: absolute;
  width: 50%;
  left: 60%;
  bottom: 10%;
  height: 100%;
}
.container .left-iphone__content .camera__flash--sensor {
  position: absolute;
  top: 28%;
  filter: blur(0.9px);
  border-radius: 50%;
  left: 9%;
  width: 15px;
  height: 15px;
  border: 1.3px solid #919191;
  background-color: #a3a3a3;
}
.container .left-iphone__content .camera__flash--flash {
  position: absolute;
  top: 53%;
  box-shadow: 0.5px 0.3px 1.3px 1.2px #bdbdbd;
  border: 1px solid #f9eddf;
  filter: blur(0.4px);
  background: linear-gradient(45deg, #faefda 0%, #fff 51%, #f9eddf 100%);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.container .container__lent {
  position: relative;
  width: 35px;
  height: 35px;
  right: 0.15px;
  bottom: 0.5px;
  border: 3px solid #0d0d0d;
  border-radius: 50%;
}
.container .container__lent .blur__lent {
  border: 1px solid #8098e8;
  position: relative;
  left: 40%;
  top: 7px;
  filter: blur(0.5px);
  display: inline-block;
  background-color: #0153ab;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.container .power {
  position: absolute;
  top: 28%;
  border-radius: 20px;
  left: 9.6%;
  display: inline-block;
  width: 7px;
  height: 55px;
  background-color: #87849d;
}
.container .silence {
  position: absolute;
  left: 42.4%;
  top: 15%;
  border-radius: 20px;
  display: inline-block;
  width: 7px;
  height: 30px;
  background-color: #87849d;
}
.container .volume-up {
  position: absolute;
  left: 42.4%;
  top: 23%;
  border-radius: 20px;
  display: inline-block;
  width: 7px;
  height: 50px;
  background-color: #87849d;
}
.container .volume-down {
  position: absolute;
  left: 42.4%;
  top: 33%;
  border-radius: 20px;
  display: inline-block;
  width: 7px;
  height: 50px;
  background-color: #87849d;
}
